@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal {
    background-color: rgb(4, 109, 0);
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.555);
}
h1 {
    color: rgb(4, 109, 0);
}
h2 {
    color: rgb(51, 77, 49);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.589);
}

.basico {
    color: rgb(24, 207, 0);
}
.intermediario {
    color: rgb(207, 204, 0);
}
.avancado {
    color: rgb(207, 0, 0);

}