@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
* {
  font-family: 'work sans', sans-serif;
  text-shadow: 1px 1px 3px #0000007f;
}
body {
  background-image: linear-gradient(to bottom, #9B77F5, #99BFF2);
  background-attachment: fixed;
}
h1 {
  font-family: 'Princess Sofia', cursive;
  text-align: center;
  color: #7A51A6;
  text-shadow: 1px 1px 3px #7A51A69f;
}
h2 {
  font-weight: 500;
  text-align: center;
}
p {
  font-family: 'work sans', sans-serif;
}
main {
  background-color: white;
  width: 75%;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  box-shadow: 1px 1px 5px #0000007f;
}